a{
    text-decoration: none;
}
ul{
    list-style: none;
    justify-content: space-evenly;
    margin: 3px;
    padding: 0;
}
.titulo, .subTitulo, .mapa, footer section div{
    text-align: center;
}
/* ----------- HEADER ----------- */
.inicial{
    background: black;
}
.collapse{
    justify-content: flex-end;
    align-items: center;
}
.social-media li a{
    color: green;
} 
.social-media{
    word-spacing: 8px;
    font-size: 18px;
    padding-left: 20px;
}
.registro{
    font-size: 18px;
    align-content: center;
    gap: 20px;
}
.registro ul li a{
    padding: 10px;
}
.registro i{
    margin: 0 5px;
}
.logo{ 
    margin: 5px 25px;
}
.logo img{
    width: 200px;
}
/* ----------- HEADER HOME ----------- */
.header-home{
    background-image: url(./../../img/vista-panoramica-pico-roys-nueva-zelanda-montanas-bajas-distancia-celaje.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
    width: 100%;
    color: #fff;
}
.transparencia{
    background-color: black;
    opacity: .3;
    height: 100%;
}
 .header-container{
    position: absolute; 
    text-align: center;
    top: 40%;
    width: 100%;
}
.titulo{
    font-size: 50px;
}
.subTitulo{
    font-size: 20px;
}
/* ----------- MAIN ----------- */

main{
    background-color: aqua;
    padding: 20px 0;
    margin: 0 0;
}
main section{
    padding: 20px 0;
    
}
main .container .row{
    padding: 20px;
    background: red;
    border-radius: 20px;
    align-items: center;
    margin: 0 0;
}
table{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.posts{
    display: flex;
    flex-flow: row wrap;
    background: black;
    justify-content: center;
    padding: 40px 0;
    margin: 0 0;
    gap: 20px;
}
.post{
    border: solid red 2px;
    border-bottom: #428BCA 1px solid;
}
.color{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.view{
    text-align: center;
}
.view img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.card{
    width: 18rem;
}
/* ----------- Footer ----------- */
footer{
    background-color: rgb(23, 15, 30);
    color: #fff;
}
.social-footer{
    word-spacing: 10px;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}
.logo-footer{
    width: 200px;
}
.text-center{
    margin: 15px 0;
}


/* ----------- Media ----------- */
@media screen and (max-width:980px) {
    
}