body{
    font-family: Montserrat;
}
a{
    text-decoration: none;
    color: #fff;
}
h3{
    color: rgb(235, 133, 96);
    font-weight: 700;
}
ul{
    list-style: none;
    justify-content: space-evenly;
    margin: 3px;
    padding: 0;
}
.titulo, .subTitulo, .mapa, footer section div, .view{
    text-align: center;
}
/* ----------- HEADER ----------- */
.inicial{
    background-color: rgb(23, 15, 30);
}
.collapse{
    justify-content: flex-end;
}
.social-media li a{
    color: rgb(111, 181, 82);
} 
.social-media{
    word-spacing: 8px;
    font-size: 25px;
    padding-left: 20px;
}
.registro{
    font-size: 20px;
    gap: 20px;
}
.registro ul li a{
    padding: 10px;
}
.registro i{
    margin: 0 5px;
}
.logo{ 
    margin: 5px 25px;
}
.logo img{
    height: 50px;
}
/* ----------- HEADER HOME ----------- */
.header-home{
    background-image: url(./../../img/vista-panoramica-pico-roys-nueva-zelanda-montanas-bajas-distancia-celaje.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
    width: 100%;
    color: #fff;
}
.transparencia{
    background-color: rgb(23, 15, 30);
    opacity: .3;
    height: 100%;
}
 .header-container{
    position: absolute; 
    text-align: center;
    top: 40%;
    width: 100%;
}
.titulo{
    font-size: 70px;
    font-weight: 600;
}
.subTitulo{
    font-size: 20px;
}

/* ----------- MAIN ----------- */
main{
    background-color: rgb(192, 216, 216);
    padding: 20px 0;
    margin: 0 0;
}
main section{
    padding: 20px 0;
    
}
main .container .row{
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    align-items: center;
    margin: 0 0;
}
td{
    border: none;
}
.table{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.posts{
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    justify-content: center;
    padding: 40px;
    margin: 0 0;
    gap: 0px;
}
.posts article{
    padding: 20px;
} 
.post{
    border: none;
}
.color{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin: auto;
}
.img-thumbnail{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.card{
    width: 20.5em;
}
.txtrows-2{
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 20px;
}

/* ----------- Footer ----------- */
footer{
    background-color: rgb(23, 15, 30);
    color: #fff;
}
.social-footer{
    word-spacing: 10px;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}
.social-footer li a{
    color: rgb(111, 181, 82);
}
.logo-footer{
    width: 200px;
}
.text-center{
    margin: 15px 0;
}


/* ----------- Media ----------- */
@media screen and (max-width:980px) {
    .txtrows-2{
        height: 80px;
    }
    .titulo{
        font-size: 3em;
    }
    .row .col-md-6 p{
        font-size: 15px;
    }
    tr td span{
        font-size: 13px;
    }
}